@font-face {
  font-family: "MontserratBold";
  src: url("assets/fonts/Montserrat/static/Montserrat-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

.stickymenu {
  position: sticky;
  top: 0;
  background-color: #ffffff;
}

h1 {
  font-family: "MontserratBold";
  font-size: 32px;
  padding: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-family: "MontserratBold";
  font-size: 14px;
}

p {
  font-family: "MontserratRegular";
  font-size: 14px;
}

nav {
  display: flex;
  flex-flow: row, wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  justify-content: space-between;
  color: #212429;
  font-family: "MontserratRegular";
  font-size: 16px;
}

nav img:hover {
  animation: webanimation 0.9s, both;
}

.flex-container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-item {
  padding: 2rem;
  margin: 0 auto;
  max-width: 420px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-item img:hover {
  animation: webanimation 0.9s, both;
}

@keyframes webanimation {
  0% {
    transform: scale3d (1, 1, 1);
  }

  100% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.title-flex-container {
  display: flex;
  padding: 1rem;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

footer {
  display: flex;
  background-color: #212429;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1rem;
}

footer p {
  color: #ffffff;
  font-size: 16px;
}

.footer-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1rem;
}

.footer-section p {
  margin-left: 1rem;
}

.circle {
  background-color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle img {
  width: 34px;
  height: 34px;
}
